[package]
name = "lever-interface"
version = "0.1.0"
edition.workspace = true

[lib]
crate-type = ["rlib"]

[features]
cpi = ["dep:typhoon-instruction-builder"]
client = [
    "std",
    "dep:typhoon-instruction-builder",
    "dep:solana-address",
    "dep:solana-instruction",
]
std = []

[dependencies]
bytemuck = { workspace = true, features = ["derive"] }
solana-address = { workspace = true, optional = true }
solana-instruction = { workspace = true, optional = true }
typhoon-instruction-builder = { workspace = true, optional = true }
typhoon.workspace = true

[package.metadata.typhoon.builder-dependencies]
lever = { path = "../../programs/lever" }
