[package]
name = "{{program_name_kebab}}"
version = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }

[features]
logging = []

[lib]
crate-type = ["cdylib", "lib"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(target_os, values("solana"))',
] }

[dependencies]
bytemuck = { workspace = true, features = ["derive"] }
typhoon = { workspace = true }

[build-dependencies]
typhoon-idl-generator = { workspace = true }
