[package]
name = "typhoon-discriminator"
description = "Discriminator generation utilities"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
const-crypto.workspace = true
